:root {
  --main-color: #94b8eb;
  --text-color: #343131;
  --white-color: #ffffff;
  --shadow-color: #00000031;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background: var(--white-color);
  color: var(--text-color);
}

header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  padding: 2rem 7%;
  font-size: 4.5rem;
  align-items: center;
  display: flex;
  background-color: transparent;
  z-index: 100;
  transition: 0.5s;
}

.navbar-brand {
  font-size: 4rem;
}

.navbar .nav-item {
  position: relative;
  margin-right: 3rem;
  color: var(--white-color);
  font-size: 2.5rem;
}

section {
  min-height: 100vh;
  padding: 5rem 7% 3rem;
}

.home {
  display: flex;
  align-items: center;
}

.home-content {
  max-width: 50rem;

  > h3 {
    font-size: 3rem;
    line-height: 0.4;
  }

  > h1 {
    font-size: 5rem;
  }

  > p {
    font-size: 2rem;
  }
}

.home-content .social-media a {
  width: 4.5rem;
  height: 4.5rem;
  margin: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  font-size: 2rem;
  border-radius: 50%;
  border: 0.25rem solid var(--main-color);
  box-shadow: 0 0.2rem 0.2rem var(--shadow-color);
  transition: 0.7s ease;
}

.home-content .social-media a:hover {
  color: var(--white-color);
  background: var(--main-color);
}

img {
  width: 10%;
}